<html>
	<head>
		<title>{{ title|safe }}Hello Wall!</title>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
	</head>
	<body>
		{% block body %}
			{#
				Page content goes here
			#}
		{% endblock %}
		<script src="{{ url_for('static', filename='script/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='script/masonry.pkgd.min.js') }}"></script>
		<script src="{{ url_for('static', filename='script/jquery.splatter.js') }}"></script>
		{% block scripts %}
			{#
				Page scripts go here
			#}
		{% endblock %}
	</body>
</html>