/* Globals */
body, html {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
	overflow:hidden;
}
h1 {
	font-weight:100;
	font-size:100px;
	line-height:80px;
	vertical-align:middle;
	display:table-cell;
}
	h1 span {
		font-weight:800;
	}
textarea {
    resize: none;
    margin-top:10px;
    margin-bottom:5px;
}
#message-container {
	width:100%;
	height:100%;
	margin-left:50px;
}
#post-controls {
	margin:0 auto;
	width:50%;
	padding-top:70px;
}
/* Recyclables */
.loader {
	position:fixed;
	bottom:0;
	left:0;
	padding:15px;
}
.message {
	/*position:fixed;*/
	margin:15px;
	width:250px;
	/*width:5%;*/
	/*display:block;*/
}
	.message p {
		padding:5px;
		font-weight:400;
		font-size:60px;
	}
.w2 {
	width:400px;
}
.w8 {
	width:1138px;
}
.hide {
	display:none;
}
.error, .warning, .success {
	position:fixed;
	top:0;
	width:100%;
}
	.error p, .warning p, .success p {
		margin:0;
		padding:5px;
		text-align:center;
		font-size:50px;
	}
	.error:hover p {
		background-color:rgb(252, 159, 159);
	}
	.error p {
		background-color:rgb(255, 199, 199);
	}
	.warning:hover p {
		background-color:rgb(253, 207, 147);
	}
	.warning p {
		background-color:rgb(255, 224, 184);
	}
	.success:hover p {
		background-color:rgb(143, 226, 127);
	}
	.success p {
		background-color:rgb(195, 255, 184);
	}

/* One timers */
#initial {
	width:100%;
	height:100%;
	text-align:center;
	display:table;
}
